body {
  height: 100%;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

/***Animations***/

@keyframes fade-in {
  from  {opacity: 0;}
  to  {opacity: 1;}
}

@keyframes fade-out {
  from  {opacity: 1;}
  to  {opacity: 0;}
}

@keyframes changeBackground {
  from  {background: white;}
  to  {background: #3498db;}
}

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.fade-out {
  animation-name: fade-out;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.changeBackground {
  animation-name: changeBackground;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.hide {
  display: none;
}

/***Navbar***/

nav {
  width: 100%;
  font-size: 20px;
  background: #2980b9;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 30px;
}

li a:hover {
  background-color: #3498db;
}

/***Index***/

.mainView {
  text-align: center;
  color: #2980b9;
  width: 80%;
  margin: 100px auto;
}

.mainView h1 {
  font-size: 60px;
}

.mainView h2 {
  font-size: 40px;
}

.mainView h3 {
  font-size: 30px;
  margin: auto 0;
  display: inline-block;
}

.mainView input {
  max-width: 50%;
  font-size: 40px;
  padding: 8px;
  text-align: center;
  margin-bottom: 15px;
}

.mainView button {
  margin: 0;
  margin-top: 20px;
  width: auto;
  padding: 12px;
  border-radius: 8px;
  border-style: none;
  background-color: #2980b9;
  color: white;
  font-size: 30px;
}

.mainView button:hover {
  background-color: #3498db;
}

.mainView .setQuestionContainer {
  margin: 15px;
  text-align: left;
}

.mainView p {
  margin: 0;
}

#saveSet {
  font-size: 20px;
}

#cardSet {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

#cardSet button {
  margin: 10px;
}

.editCard {
  margin: 50px auto;
}

.cardView {
  margin: 100px auto;
  width: 75%;
  background: white;
  border: 10px solid #2980b9;
  border-radius: 20px;
}

.cardView h1 {
  margin: 100px;
}

.cardView button {
  margin: 50px auto;
}

#showAnswer {
  display: block;
}

#correctOrWrong {
  margin: 50px auto;
}

#correctOrWrong button {
  margin-top: 10px;
}

#stopStudying {
  margin: 0 !important;
  position: absolute;
  top: 20px;
  right: 20px;
}

#cardAnswerContainer {
  margin: 15px;
}


@media(max-width: 767px) {
  .mainView {
    width: 90%;
  }
}
